<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">

<policyconfig>
  <vendor>PhanesGuild Software LLC</vendor>
  <vendor_url>https://phanesguild.com</vendor_url>
  <icon_name>hakpak</icon_name>

  <action id="com.phanesguild.hakpak.install">
    <description>Install Kali Linux security tools</description>
    <message>Authentication is required to install security tools with HakPak</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/home/PhanesGuild/HakPak/hakpak.sh</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="com.phanesguild.hakpak.manage">
    <description>Manage Kali Linux repositories and packages</description>
    <message>Authentication is required to manage repositories and packages with HakPak</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/home/PhanesGuild/HakPak/hakpak.sh</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
